.results-container {
  position: relative;
  text-align: left;
  height: 58%;
  padding: 3.5% 6% 3.5% 5.6%;
  border: 1px solid #DDDEDE;
  border-top: 0px;
  overflow-y: hidden;
}

.results-header {
  margin: 0px;
  padding: 0px;
  font-family: 'ProximaNova-Bold';
  font-size: 1.12rem;
  margin-bottom: 1.3rem;
}

.individual-results-container {
  max-height: 40vh;
  width: 50%;
  overflow-y: scroll;
}

.average-header {
  font-family: 'ProximaNova-Bold';
}

.average-container {
  position: absolute;
  top: 0;
  right: 15%;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}
