.results-container {
  position: relative;
  text-align: left;
  padding: 3.5% 6% 3.5% 5.6%;
}

.results-header {
  margin: 0px;
  padding: 0px;
  font-family: 'ProximaNova-Bold';
  font-size: 1.12rem;
  margin-bottom: 1.3rem;
}

.individual-results-container {
  max-height: 30vh;
  overflow-y: scroll;
}

.average-header {
  font-family: 'ProximaNova-Bold';
}

.average-container {
  position: absolute;
  top: 0;
  right: 15%;
}
