.App {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: #F6F7F7;
  min-height: 100vh;
  min-width: 100vw;
  font-family: 'ProximaNova-Regular';
  overflow: hidden;
}

.components-container {
  position: relative;
  width: 41.5%;
  height: 100vh;
  background-color: #F5F6F7;
}
