header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 7.9%;
  background-color: #0f3041;
}

.logo {
  height: 84%;
  width: auto;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: .5vw;
  margin-bottom: 3px;
  background-image: url('./bitly-logo.png');
}
